h2{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

h3{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

aside img{
    height: 75vh;
    width: auto;
}

aside{
    float: left;
    padding-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}

article{
    margin-left: 470px;
    padding-top: 50px;
}

footer{
    clear: both;
}